@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE و Edge */
  scrollbar-width: none;     /* Firefox */
}

/* الوضع الافتراضى (ديسكتوب) */
/* .ce-popover {
  position: absolute;
  bottom: 0;
  left: 0;
} */

@media (max-width: 768px) {
  .ce-popover {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999 !important;
    border-radius: 12px !important;
    width: 90% !important;
    max-width: 400px;
    padding: 10px !important;
  }
}


:root {
  --primary: #19183B;
  --secondary: #D6F4ED;
  --tertiary: #1A2A4F
}